<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="DpUp" connectionString="Data Source=192.168.99.100,1401;Initial Catalog=DBUpDemo;User ID=SA;Password=YourStrong!Passw0rd" />
  </connectionStrings>
</configuration>